In [31]:
import pandas

data_path = "../data/"
filename = "IMPERIAL_COLLEGE_USstatesCov19distancingpolicy_modified.csv"

df = pandas.read_csv(data_path + filename)
df.head()

,location_id,StateFIPS,StatePostal,StateName,StatePolicy,Mandate,DateIssued,DateEnacted,DateExpiry,DateEased,DateEnded,StateWide,LastUpdated
0,523,1,AL,Alabama,EmergDec,1,20200313,20200313,NaN,NaN,NaN,1,20200324
1,523,1,AL,Alabama,SchoolClose,1,20200314,20200318,NaN,20200601.0,NaN,1,20200522
2,523,1,AL,Alabama,GathRestrict25,1,20200319,20200319,NaN,NaN,NaN,1,20200420
3,523,1,AL,Alabama,GathRestrictAny,1,20200319,20200319,20200522.0,NaN,NaN,1,20200511
4,523,1,AL,Alabama,OtherBusinessClose,1,20200319,20200319,20200522.0,20200430.0,NaN,1,20200511

In [25]:
df.describe()

              fips          cases        deaths
count  5624.000000    5624.000000   5624.000000
mean     31.642070   15898.442923    893.936878
std      18.494812   41049.471217   3007.650507
min       1.000000       1.000000      0.000000
25%      17.000000     256.750000      4.000000
50%      31.000000    2599.000000     73.500000
75%      46.000000   13433.250000    489.500000
max      78.000000  386490.000000  30511.000000

In [27]:
from datetime import date, datetime
min_date = datetime.strptime(min(df["date"]), '%Y-%m-%d')
max_date = datetime.strptime(max(df["date"]), '%Y-%m-%d')

num_days = (max_date-min_date).days
num_days

143

In [35]:
policies = df.groupby("StatePolicy").count()
policies_keep = policies[policies["StateName"] >= 25]
policies_keep.index.tolist()

['EmergDec',
 'GathRecomAny',
 'GathRestrict10',
 'GathRestrictAny',
 'NEBusinessClose',
 'OtherBusinessClose',
 'PublicMask',
 'Quarantine',
 'RestaurantRestrict',
 'SchoolClose',
 'StayAtHome']