In [8]:
import pandas

data_path = "../data/"
filename = "us-counties.csv"

df = pandas.read_csv(data_path + filename)
print(df.head())

date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [9]:
print(df.describe())

fips          cases         deaths
count  228269.000000  230714.000000  230714.000000
mean    30085.541878     387.550456      21.782319
std     15345.539105    3639.985786     327.494408
min      1001.000000       0.000000       0.000000
25%     18083.000000       5.000000       0.000000
50%     29059.000000      21.000000       0.000000
75%     45043.000000     100.000000       3.000000
max     56045.000000  213707.000000   21519.000000

In [10]:
df["state-county"] = df["state"] + "-" + df["county"]
df.head()

,date,county,state,fips,cases,deaths,state-county
0,2020-01-21,Snohomish,Washington,53061.0,1,0,Washington-Snohomish
1,2020-01-22,Snohomish,Washington,53061.0,1,0,Washington-Snohomish
2,2020-01-23,Snohomish,Washington,53061.0,1,0,Washington-Snohomish
3,2020-01-24,Cook,Illinois,17031.0,1,0,Illinois-Cook
4,2020-01-24,Snohomish,Washington,53061.0,1,0,Washington-Snohomish

In [20]:
from datetime import date, datetime
min_date = datetime.strptime(min(df["date"]), '%Y-%m-%d')
max_date = datetime.strptime(max(df["date"]), '%Y-%m-%d')

num_days = (max_date-min_date).days

143