In [24]:
import pandas

data_path = "../data/"
filename = "NY_Times_us-states.csv"

df = pandas.read_csv(data_path + filename)
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [25]:
df.describe()

              fips          cases        deaths
count  5624.000000    5624.000000   5624.000000
mean     31.642070   15898.442923    893.936878
std      18.494812   41049.471217   3007.650507
min       1.000000       1.000000      0.000000
25%      17.000000     256.750000      4.000000
50%      31.000000    2599.000000     73.500000
75%      46.000000   13433.250000    489.500000
max      78.000000  386490.000000  30511.000000

In [27]:
from datetime import date, datetime
min_date = datetime.strptime(min(df["date"]), '%Y-%m-%d')
max_date = datetime.strptime(max(df["date"]), '%Y-%m-%d')

num_days = (max_date-min_date).days
num_days

143